<% javascript 'dynamic_states' %>
<div class="row">
	<div class="large-6 columns">
		<div class="row">
			<div class="large-4 columns"> <%=label_tag "Documents"%> </div>
			<div class="large-4 columns"> Requirements </div>
			<div class="large-4 columns"> Blocks </div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<% documents = Indexer.uniq.pluck(:document) %>
    			<%= select_tag 'documentsbox', options_for_select(documents), {:prompt => "Select one item"}%> 
			</div>
			<div class="large-4 columns">
				<% sections = Indexer.pluck(:section) %>
				<%= select_tag 'sectionbox', options_for_select(sections) %>
			</div>
			<div class="large-4 columns"> 
				<% subsections = Indexer.pluck(:subsection) %>
				<%= select_tag 'subsectionbox', options_for_select(subsections, selected = nil) %>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns"><%=label_tag "Related Standarts"%></div>
		</div>
		<div class="row">
			<div id="standart_area" class="large-12 columns"> </div>
		</div>
		<div class="row">
			<div class="large-4 columns"><%=label_tag "US NRC"%></div>
		</div>
		<div class="row">
			<div id="usnrc_area" class="large-12 columns"> </div>
		</div>
		<div class="row">
			<div class="large-4 columns"><%=label_tag "DS 430"%></div>
		</div>
		<div class="row">
			<div id="ds_area" class="large-12 columns"> </div>
		</div>
	</div>
	<div class="large-6 columns" data-equalizer>
		<div class="row" data-equalizer>
			<div class="large-4 columns"></div>
		</div>
		<div class="row">
			<div id="accept_area" class="large-12 columns"> </div>
		</div>
		<div class="row">
			<div class="large-4 columns"><%=label_tag "TAEK Guide (GGD 2)"%></div>
		</div>
		<div class="row">
			<div id="ggd2_area" class="large-12 columns"> </div>
		</div>
	</div>
</div>
